:root{
    /* Colors */
--Yellow: hsl(47, 88%, 63%);
--White: hsl(0, 0%, 100%);
--Gray-500: hsl(0, 0%, 42%);
--Gray-950: hsl(0, 0%, 7%);

/* Typography */

/* --Body Copy--  */
--Font-size-paragraph: 16px;

/* -- Font */

--Font-Family: Figtree;
--Weights: 500;
--Weight-bold: 800;
font-size: 12px;
}
@font-face {
    font-family: figtree;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}
* > *{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--Yellow);
    font-family: var(--Font-Family);
    justify-content: center;
    article{
        width: 320px;
        margin-inline: auto;
        border: 1px solid black;
        background-color: var(--White);
        border-radius: 15px;
        box-shadow: 8px 8px 0px 0px;
        header, section{
            width: 88%;
            margin-inline: auto;
            margin-block: 6%;
            > * + *{
                margin-block-start: 0;
            }
        }
        header{
            > img{
                width: 100%;
                border-radius: 10px;
                /* display: block; */
            }
            h1{
                background-color: var(--Yellow);
                display: inline-block;
                padding-inline: 2ch;
                padding-block: 1ch;
                border-radius: 5px;
                font-size: 1rem;
                margin-block-start: 6%;
                font-weight: var(--Weight-bold);
            }
            p{
                font-weight: var(--Weights);
                margin-block-start: 3%;
                color: var(--Gray-950);
            }
        }
        section{
            h1{
                font-weight: var(--Weight-bold);
                font-size: 1.5rem;
            }
            p{
                color: var(--Gray-500);
                line-height: 3ch;
                font-weight: var(--Weights);
            }
        }
        footer{
            display: flex;
            align-items: center;
            height: 32px;
            margin-block-start: 9%;
            margin-block-end: 9%;
            picture{
                width: 32px;
                height: 32px;
                img{
                    width: 100%;
                }
            } 
            h3{
                font-weight: var(--Weight-bold);
                margin-inline: 1ch;
                font-size: 1.2rem;
            }
        }
    }
    position: relative;
    align-items: center;
    > footer{
        position: absolute;
        bottom: 0;
    }
}